@page "/"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Inicio</PageTitle>

@if (CustomAppContext.Usuario == null)
{
    <div class="contenedor">
        <div class="tarjetaLogin">
            <div class="inicia">
                <p>Bienvenido, por favor inicie sesión.</p>
                <a href="login"><button class="btn btn-primary" @onclick="NavigateToLogin">Iniciar Sesión</button></a>
            </div>
        </div>
    </div>
}
else
{
    <div class="contenedor">
        <p>¡Bienvenido, @CustomAppContext.Usuario.Nombre!</p>
        <button class="btn btn-primary" @onclick="CerrarSesion" >Cerrar Sesión</button>
    </div>
}

@code {
    Persona? Usuario { get; set; }
   
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
    protected void CerrarSesion(EventArgs args)
    {
        CustomAppContext.Usuario = null;
        NavigationManager.Refresh();
    }
    
}

